extends layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Covert

  form(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    if (!unknownUser)
      .form-group.row
        label(class='col-md-2 col-form-label font-weight-bold', for='amount') Amount
        .col-md-8
 
          .form-group.row
            input#GBP(type='text', size='10', value='0', onchange='gbpfunc()')
            label(for='GBP')  SAR 
            br
            input#USD(type='text', size='10', value='0', onchange='usdfunc()' disabled)
            label(for='USD')  USD 
            br
            input#EUR(type='text', size='10', value='0', onchange='eurfunc()' disabled)
            label(for='EUR')  EUR 
            br
            input#CAD(type='text', size='10', value='0', onchange='cadfunc()' disabled)
            label(for='CAD')  EGP 
            br
            input#AUD(type='text', size='10', value='0', onchange='audfunc()' disabled)
            label(for='AUD')  AUD
    .form-group.row
        label(class='col-md-2 col-form-label font-weight-bold', for='currency') NO.
        .col-md-8
          select.form-control(type='text', name='currency', id='currency')
            option(value='1') SAR
              option(value='3') USD
              option(value='5') EGP
              option(value='4', selected='') EUR
    
    .form-group.row
      label(class='col-md-2 col-form-label font-weight-bold', for='message') Notes
      .col-md-8
        textarea.form-control(name='message', id='message', rows='7', autofocus=(!unknownUser).toString())
    .form-group
      .offset-md-2.col-md-8.p-1
        button.btn.btn-primary(type='submit')
          i.far.fa-envelope.fa-sm
          | save 
  script.
        var gbp, usd, eur, cad, aud;
        function init()
        {
            gbp = document.getElementById("GBP");
            usd = document.getElementById("USD");
            eur = document.getElementById("EUR");
            cad = document.getElementById("CAD");
            aud = document.getElementById("AUD");
        }

        function gbpfunc()
        {
            usd.value = parseFloat(gbp.value) * 0.49246;
            eur.value = parseFloat(gbp.value) * 0.69714;
            cad.value = parseFloat(gbp.value) * 0.50221;
            aud.value = parseFloat(gbp.value) * 0.43497;
        }

        function eurfunc()
        {
            gbp.value = parseFloat(eur.value) * 1.43448;
            usd.value = parseFloat(eur.value) * 0.70641;
            cad.value = parseFloat(eur.value) * 0.72037;
            aud.value = parseFloat(eur.value) * 0.62382;
        }

        function cadfunc()
        {
            gbp.value = parseFloat(cad.value) * 1.99169;
            usd.value = parseFloat(cad.value) * 0.98054;
            eur.value = parseFloat(cad.value) * 1.38814;
            aud.value = parseFloat(cad.value) * 0.86613;
        }

        function audfunc()
        {
            gbp.value = parseFloat(aud.value) * 2.29964;
            usd.value = parseFloat(aud.value) * 1.13262;
            eur.value = parseFloat(aud.value) * 1.60329;
            cad.value = parseFloat(aud.value) * 0.88297;    
        }

        function usdfunc()
        {
            gbp.value = parseFloat(usd.value) * 2.03032;
            eur.value = parseFloat(usd.value) * 1.41544;
            cad.value = parseFloat(usd.value) * 1.01941;
            aud.value = parseFloat(usd.value) * 0.88297;
        }

        init();
              

