extends layout

block content
  .pb-2.mt-2.mb-4.border-bottom

  #table-wrapper
    table#desc
      tr
        th Frist Name 
      tr
        td(height='100px') Additional cheduled projects and service
      tr
        td Unscheduled Response – After Hours Monday – Friday, 6:00pm – 7:30am Saturday, Sunday
    table
      tr
        th number
        th pay
      tr
        td  1: $110 
      tr
        td  2: $150 
      tr